<li><a href="{{ path('insumo_index_catalogo') }}"><i class="icon-sitemap"></i><span class="menu-text"> Catalogo</span></a></li>
{% if app.user %}<!--/get role-->
{% endif %}<!--/get role-->
{% if app.user %}<!--/get role-->
 {{ app.session.get('menu') | raw }}
{% endif %}<!--/get role-->
<li><a href="{{ path('maestro_core_ayuda') }}"><i class="icon-medkit"></i><span class="menu-text"> Ayuda</span></a></li>
<li><a href="{{ path('maestro_core_feed') }}"><i class="icon-rss"></i><span class="menu-text"> feed</span></a></li>
