{% extends 'base.html.twig' %}
{% block titulo %}Editar Rol{% endblock %}
{% block body %}
<div class="col-sm-12">
 <div class="white-box">
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Actualizar" />
    {{ form_end(edit_form) }}
 </div>
</div>
{% endblock %}
{% block breadcrumb %}
<a href="{{ path('admin_roles_index') }}"><button class="btn btn-warning">Regresar a listado</button></a>
{% endblock %}
