{% extends 'base.html.twig' %}
{% block titulo %}Catalogo de roles{% endblock %}
{% block body %}
<div class="col-sm-12">
 <div class="white-box">
  <div class="table-responsive">
   <table id="tabla" class="display nowrap" cellspacing="0" width="100%">
    <thead>
     <tr><th>Nombre de rol</th></tr>
    </thead>
    <tfoot>
     <tr><th>Nombre de rol</th></tr>
    </tfoot>
    <tbody>
		{% for ctlRol in ctlRols %}
            <tr>
                <td><a href="{{ path('admin_roles_edit', { 'id': ctlRol.id }) }}">{{ ctlRol.nombreRol }}</a></td>
            </tr>
        {% endfor %}
    </tbody>
   </table>
  </div>
 </div>
</div>
{% endblock %}
{% block breadcrumb %}<a href="{{ path('admin_roles_new') }}"><button class="btn btn-info">Agregar registro</button></a>{% endblock %}
