{% extends 'MaestroCoreBundle::default.html.twig' %}
{% block title %}Registrar Unidad de medida{% endblock %}
{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Registrar" class="btn btn-primary"/>
    {{ form_end(form) }}

<a href="{{ path('unidad_medida_index') }}" class="btn">Regresar a listado</a>
{% endblock %}
