{% extends 'base.html.twig' %}
{% block titulo %}Registrar persona{% endblock %}
{% block body %}
<div class="col-sm-12">
 <div class="white-box">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Guardar" class="btn btn-primary"/>
    {{ form_end(form) }}
 </div>
</div>
{% endblock %}
{% block breadcrumb %}
<a href="{{ path('admin_personas_index') }}"><button class="btn btn-warning">Regresar a listado</button></a>
{% endblock %}
