{% extends 'base.html.twig' %}
{% extends 'MaestroCoreBundle::default.html.twig' %}
{% block title %}Agregar micro red{% endblock %}
{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Agregar" class="btn btn-primary" />
    {{ form_end(form) }}

    <a href="{{ path('red_index') }}" class="btn">Regresar a listado</a>
{% endblock %}
