{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ctllog</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ctlLog.id }}</td>
            </tr>
            <tr>
                <th>Nombrelog</th>
                <td>{{ ctlLog.nombreLog }}</td>
            </tr>
            <tr>
                <th>Descripcionlog</th>
                <td>{{ ctlLog.descripcionLog }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('log_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
