{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cambios en el esquema</h1>

    <table>
        <thead>
            <tr>
                <th>Versión</th>
                <th>Table esquema</th>
                <th>Tipo de cambio en esquema</th>
            </tr>
        </thead>
        <tbody>
        {% for ctlSchema in ctlSchemas %}
            <tr>
                <td>{{ ctlSchema.id }}</td>
                <td>{{ ctlSchema.tablaSchema }}</td>
                <td>Regristro / Modificación </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
