{% extends 'MaestroCoreBundle::default.html.twig' %}

{% block body %}

<div class="row-fluid">
  <h3 class="header smaller lighter blue">Versi贸n de la aplicaci贸n</h3>
  <div class="table-header">
    <p>1.0 - Ultima actualizaci贸n de la informaci贸n:  </p>
  </div>
{% endblock %}
