{% extends '::base.html.twig' %}
{% block titulo %}Listado oficial de productos{{agrega}}{% endblock %}
{% block body %}
<div class="col-lg-12 col-sm-12 col-xs-12">
 <div class="white-box">
  <ul class="nav nav-tabs" role="tablist">
   {% if not app.user %}
   <li role="presentation" class="active"><a href="#oficial" aria-controls="oficial" role="tab" data-toggle="tab" aria-expanded="true"><span class="visible-xs"><i class="ti-home"></i></span><span class="hidden-xs"> oficial</span></a></li>
   {% else %}
   <li role="presentation" class=""><a href="#" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-user"></i></span> <span class="hidden-xs">Por validaci贸n</span></a></li>
   <li role="presentation" class=""><a href="#en" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-email"></i></span> <span class="hidden-xs">Por habilitar</span></a></li>
   <li role="presentation" class=""><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-settings"></i></span> <span class="hidden-xs">Denegados</span></a></li>
   {% endif %}
  </ul>
  <div class="tab-content">
   {% if not app.user %}
   <div role="tabpanel" class="tab-pane active" id="oficial">
  <div class="table-responsive">
   <table id="tablaoficial" class="display nowrap" cellspacing="0" width="100%">
    <thead>
     <tr><th>C贸digo</th><th>Nombre</th><th>Nivel uso</th><th>Unidad</th><th>Grupo</th></tr>
    </thead>
    <tfoot>
     <tr><th>C贸digo</th><th>Nombre</th><th>Nivel uso</th><th>Unidad</th><th>Grupo</th></tr>
    </tfoot>
   </table>
  </div>
   </div>
   {% else %}
   <div role="tabpanel" class="tab-pane" id="valida">
   </div>
   <div role="tabpanel" class="tab-pane" id="messages">
   </div>
   <div role="tabpanel" class="tab-pane" id="settings">
   </div>
   {% endif %}
  </div>
 </div>
</div>
{% endblock %}

{% block footer_js %}
    <script>
    $(document).ready(function() {
    $('#tablaoficial').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        "ajax": "{{ url('productos_json') }}",
        "columns": [
            { "data": "codigoMinsalInsumo" },
            { "data": "nombreLargoInsumo" },
            { "data": "nombreNivelUso" },
            { "data": "nombreUnidad" },
            { "data": "nombreGrupo" }
        ]
		} );
	} );
    </script>
{% endblock %}
{% block breadcrumb %}
	 {% if app.user and app.session.get('agrega') %}
		<a href="{{ path('productos_new') }}"><button class="btn btn-info">Solicitar creaci贸n producto</button></a>
	{% endif %}
{% endblock %}
