{% extends 'MaestroCoreBundle::default.html.twig' %}
{% block title %}Registrar Nivel de uso{% endblock %}
{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Agregar" class="btn btn-primary" />
    {{ form_end(form) }}

<a href="{{ path('nivel_uso_index') }}" class="btn">Regresar a listado</a>
{% endblock %}
