{% extends 'MaestroCoreBundle::default.html.twig' %}
{% block title %}Nivel de uso: {{ ctlNivelUso.nombreNivelUso }} {% endblock %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>Nombreniveluso</th>
                <td>{{ ctlNivelUso.nombreNivelUso }}</td>
            </tr>
        </tbody>
    </table>

<a href="{{ path('nivel_uso_index') }}" class="btn">Regresar a listado</a>
<a href="{{ path('nivel_uso_edit', { 'id': ctlNivelUso.id }) }}" class="btn btn-primary">Editar</a>
{% endblock %}
