{% extends 'MaestroCoreBundle::default.html.twig' %}
{% block title %}Concentración {% endblock %}
{% block body %}
    <table>
        <tbody>
                <tr>
                    <th>Detalleconcentracion</th>
                    <td>{{ ctlConcentracion.detalleConcentracion }}</td>
                </tr>
        </tbody>
    </table>

<a href="{{ path('concentracion_index') }}" class="btn">Regresar a listado</a>
<a href="{{ path('concentracion_edit', { 'id': ctlConcentracion.id }) }}" class="btn btn-primary">Editar</a>
{% endblock %}
