{% extends 'MaestroCoreBundle::default.html.twig' %}
{% block title %}Formas Fármaceuticas [{{ ctlFormaFarmaceutica.nombreFormaFarmaceutica }}]{% endblock %}
{% block body %}

    <table>
        <tbody>
            <tr>
                <th>Nombreformafarmaceutica</th>
                <td>{{ ctlFormaFarmaceutica.nombreFormaFarmaceutica }}</td>
            </tr>
        </tbody>
    </table>

<a href="{{ path('formafarmaceutica_index') }}" class="btn">Regresar a listado</a>
<a href="{{ path('formafarmaceutica_edit', { 'id': ctlFormaFarmaceutica.id }) }}" class="btn btn-primary">Editar</a>
{% endblock %}
