{% extends 'MaestroCoreBundle::default.html.twig' %}
{% block title %}Principio activo [{{ ctlPrincipio.nombrePrincipio }}]{% endblock %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>Nombreprincipio</th>
                <td>{{ ctlPrincipio.nombrePrincipio }}</td>
            </tr>
            <tr>
                <th>Tipoprincipio</th>
                <td>{% if ctlPrincipio.tipoPrincipio == 1 %}Natural{% elseif  ctlPrincipio.tipoPrincipio == 2 %} Sintetico{% endif %}</td>
            </tr>
        </tbody>
    </table>

<a href="{{ path('principio_index') }}" class="btn">Regresar a listado</a>
<a href="{{ path('principio_edit', { 'id': ctlPrincipio.id }) }}" class="btn btn-primary">Editar</a>
{% endblock %}
