{% extends 'MaestroCoreBundle::default.html.twig' %}

{% block body %}

<div class="row-fluid">
  <h3 class="header smaller lighter blue">Listado de codificaciones configuradas en el sistema</h3>
  <div class="table-header">
    Formulas de verificacion de cada producto
  </div>
    <table id="sample-table" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Rubro asociado</th>
                <th>Fecha de registro</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>SINAB</td><td>##</td><td></td><td></td></tr>
            <tr><td>ONU</td><td>##</td><td></td><td></td></tr>
            <tr><td>ECRI</td><td>##</td><td></td><td></td></tr>
            <tr><td>ATC</td><td>##</td><td></td><td></td></tr>
            <tr><td>UFI</td><td>##</td><td></td><td></td></tr>
        </tbody>
    </table>
{% endblock %}
{% block footer_js %}

<script type="text/javascript">

  $(function() {
    var oTable2 = $('#sample-table').dataTable();
  })
</script>
{% endblock %}
