{% extends 'base.html.twig' %}

{% block body %}
    <h1>Syslog</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ syslog.id }}</td>
            </tr>
            <tr>
                <th>Registrolog</th>
                <td>{% if syslog.registroLog %}{{ syslog.registroLog|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Descripcionlog</th>
                <td>{{ syslog.descripcionLog }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('syslog_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
