{% extends 'base.html.twig' %}
{% block titulo %}Registrar nuevo suministro{% endblock %}
{% block body %}
<div class="col-sm-12">
 <div class="white-box">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Guardar" />
    {{ form_end(form) }}
 </div>
</div>
{% endblock %}
{% block breadcrumb %}
<a href="{{ path('suministros_index') }}"><button class="btn btn-warning">Regresar a listado</button></a>
{% endblock %}
