{% extends 'MaestroCoreBundle::default.html.twig' %}
{% block title %}Tipo Suministro {% endblock %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>Nombresuministro</th>
                <td>{{ ctlSuministro.nombreSuministro }}</td>
            </tr>
        </tbody>
    </table>

<a href="{{ path('suministro_index') }}" class="btn">Regresar a listado</a>
<a href="{{ path('suministro_edit', { 'id': ctlSuministro.id }) }}" class="btn btn-primary">Editar</a>
{% endblock %}
