{% extends 'base.html.twig' %}
{% block title %}Editar preferencias{% endblock %}
{% block body %}
	
     <div class="control-group ">Nombre de usuario
      <div class="controls"><span class="span12 input-icon input-icon-right">{{ form_widget(form.username) }}</span></div>
     </div>
     <div class="control-group ">Correo asociado
      <div class="controls"><span class="span12 input-icon input-icon-right">{{ form_widget(form.email) }}</span></div>
     </div>
{% endblock %}
