{% extends 'base.html.twig' %}
{% block title %}Editar preferencias{% endblock %}
{% block body %}
	{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="Editar preferencias del perfil" class=" btn btn-primary"/>
    </div>
{{ form_end(form) }}
{% endblock %}
