<?xml version="1.0" encoding="ISO-8859-1" ?>
<rss version="0.91">

<channel>

<title>Sistema de Gestión de Catálogos Maestros {{nombre}} </title>
<link>http://establecimiento.maestro.salud.gob.sv</link>
<description>Descripción</description>
<language>es-ES</language>

<item><title>Prueba 1</title><link>http://establecimiento.maestro.salud.gob.sv</link><description>bla, bla..</description><pubDate>Sun, 29 Jan 2017 21:01:12 +0100</pubDate><author>admin</author></item>
<item><title>Prueba 2</title><link>http://establecimiento.maestro.salud.gob.sv</link><description>bla, bla..</description><pubDate>Sun, 29 Jan 2017 21:01:12 +0100</pubDate><author>admin</author></item>
<item><title>Prueba 3</title><link>http://establecimiento.maestro.salud.gob.sv</link><description>bla, bla..</description><pubDate>Sun, 29 Jan 2017 21:01:12 +0100</pubDate><author>admin</author></item>
<item><title>Prueba 4</title><link>http://establecimiento.maestro.salud.gob.sv</link><description>bla, bla..</description><pubDate>Sun, 29 Jan 2017 21:01:12 +0100</pubDate><author>admin</author></item>
<item><title>Prueba 5</title><link>http://establecimiento.maestro.salud.gob.sv</link><description>bla, bla..</description><pubDate>Sun, 29 Jan 2017 21:01:12 +0100</pubDate><author>admin</author></item>
<item><title>Prueba 6</title><link>http://establecimiento.maestro.salud.gob.sv</link><description>bla, bla..</description><pubDate>Sun, 29 Jan 2017 21:01:12 +0100</pubDate><author>admin</author></item>

</channel>
</rss>
