<?xml version="1.0" encoding="UTF8" ?>
<rss version="0.91">

<channel>

 <title>Sistema de Gestion de Catalogos Maestros {{nombre}} </title>
 <link>http://establecimiento.maestro.salud.gob.sv</link>
 <description>Descripcion</description>
 <language>es-ES</language>

 {% for ctlSchema in ctlSchemas %}
 <item>
  <title>{{ ctlSchema.varsSchema }}</title>
  <link>http://establecimiento.maestro.salud.gob.sv</link>
  <description>{{ ctlSchema.detalleSchema }}</description>
  <pubDate>{{ ctlSchema.timeSchema }}</pubDate>
  <author>na</author>
 </item>
 {% endfor %}

</channel>
</rss>
