<?xml version="1.0" encoding="ISO-8859-1" ?>
<rss version="0.91">

<channel>

 <title>Sistema de Gestión de Catálogos Maestros {{nombre}} </title>
 <link>http://establecimiento.maestro.salud.gob.sv</link>
 <description>Descripción</description>
 <language>es-ES</language>

 {% for ctlSchema in ctlSchemas %}
 <item>
  <title>{{ ctlSchema.tipoCambioSchema }}</title>
  <link>http://establecimiento.maestro.salud.gob.sv</link>
  <description>{{ ctlSchema.detalleSchema }}</description>
  <pubDate>{{ ctlSchema.timeSchema }}</pubDate>
  <author>na</author>
 </item>
 {% endfor %}

</channel>
</rss>
