<?xml version="1.0" encoding="UTF8" ?>
<rss version="0.91">

<channel>

 <title>Sistema de Gestion de Catalogos Maestros {{nombre}} </title>
 <link>http://suministros.maestro.salud.gob.sv</link>
 <description>Descripcion</description>
 <language>es-ES</language>

 {% for ctlSchema in ctlSchemas %}
 <item>
  <title>Cambio # {{ ctlSchema.id }} - {{ ctlSchema.detalleSchema }}3</title>
  <link>http://suministros.maestro.salud.gob.sv/</link>
  <pubDate>{{ ctlSchema.timeSchema |date('Y-m-d H:M:s') }} }}</pubDate>
  <author>na</author>
 </item>
 {% endfor %}

</channel>
</rss>
