{% extends 'MaestroCoreBundle::default.html.twig' %}
{% block title %}Registrar Grupo{% endblock %}
{% block body %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Agregar" class="btn btn-primary" />
    {{ form_end(form) }}
    <br/>
    
<a href="{{ path('grupo_index') }}" class="btn">Regresar a listado</a>
{% endblock %}
